.projects-container {
    padding: 20px;
    padding-top: 90px;
}

.projects-flex-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item {
    position: relative;
    width: calc(50% - 20px);
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.project-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-item:hover::before {
    opacity: 1;
}

.project-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    position: relative;
    color: rgb(255, 255, 255);
}

.project-title {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0);
}

#project1 {
    background-image: url('../images/PokemonDiscordChatbot.png');
}

#project2 {
    background-image: url('../images/EyeDiseaseScreeningApp.png');
}

#project3 {
    background-image: url('../images/EmgInducedClaw.png');
}

#project4 {
    background-image: url('../images/2016iGEM.png');
}

#project5 {
    background-image: url('../images/2015iGEM.png');
}

.project-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.project-detail-container {
    padding: 20px;
    padding-top: 90px;
}

@media (max-width: 600px) {
    .project-item {
        width: calc(100% - 20px);
    }

}